<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link href="public/css/jsoneditor.css" rel="stylesheet" type="text/css">
  <script src="public/js/jsoneditor.js"></script>

  <style type="text/css">
    body {
      font: 10.5pt arial;
      color: #4d4d4d;
      line-height: 150%;
      width: 600px;
      padding-left: 40px;
    }

    html, body {
      width: 100%;
      padding: 0;
      box-sizing: border-box;
    }

    code {
      background-color: #f5f5f5;
    }

    #jsoneditor {
      max-width: 600px;
      width: 90%;
      height: 900px;

    }
  </style>
</head>
<body>

<p>
  Switch editor mode using the mode box.
  Note that the mode can be changed programmatically as well using the method
  <code>editor.setMode(mode)</code>, try it in the console of your browser.
</p>

<div id="jsoneditor"></div>

<script>

  var container = document.getElementById('jsoneditor');

  var schema = {
    "title": "Pagadurias",
    "$schema": "http://json-schema.org/draft-04/schema#",
    "type": "array",
    "items": {
      "properties": {
        "id": {
          "type": "string"

        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": ["ACTIVE", "INACTIVE"],
        },
        "identification": {
          "description":"Unico identificador de Pagaduría",
          "type": "object",
          "properties": {
            "type": {
              "type": "string"
            },
            "document": {
              "type": "string"
            }
          }
        },
        "metadata": {
          "type": "object"
        },
        "channels": {
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              },
              "profiles": {
                "type": "array",
                "items": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "contracts": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "antiquity": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "min": {
                                      "type": "integer"
                                    },
                                    "max": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "installments": {
                                  "type": "object",
                                  "properties": {
                                    "min": {
                                      "type": "integer"
                                    },
                                    "max": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "min": {
                                      "type": "integer"
                                    },
                                    "max": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "documents": {
                                  "type": "object",
                                  "properties": {
                                    "requested": {
                                      "type": "array",
                                      "items": {
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "quantity": {
                                            "type": "integer"
                                          }
                                        }
                                      }
                                    },
                                    "generated": {
                                      "type": "array",
                                      "items": {
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "metadata": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "required": ["name", "identification"]
    }
  };

  var hobbiesSchema = {
    "type": "array",
    "items": {
      "type": "string"
    }
  };

  var options = {
    mode: 'tree',
    modes: ['code', 'form', 'text', 'tree', 'view', 'preview'], // allowed modes
    onError: function (err) {
      console.error(err);
    },
    schema: schema,
    schemaRefs: {"hobbies.json": hobbiesSchema}
  };

  var json = [
    {
      "id": "1",
      "name": "PAGADURIA 1",
      "email": "contacto@pagaduria1.com",
      "status": "ACTIVE",
      "identification": {
        "type": "RUT",
        "document": "1135121-5"
      },
      "metadata": {},
      "channels": [
        {
          "id": "DEFAULT",
          "name": "Canal por defecto",
          "metadata": {},
          "profiles": [
            {
              "id": "NOMINA",
              "name": "Perfil nomina",
              "contracts": [
                {
                  "id": "1",
                  "type": "INDEFINIDO",
                  "name": "Contrato indefinido 1",
                  "conditions": [
                    {
                      "antiquity": {
                        "type": "ANTIQUITY",
                        "min": 90,
                        "max": 9999
                      },
                      "installments": {
                        "min": 12,
                        "max": 120
                      },
                      "amount": {
                        "min": 2000000,
                        "max": 60000000
                      },
                      "documents": {
                        "requested": [
                          {
                            "id": "ID_DOC",
                            "name": "Documento de identidad",
                            "quantity": 1
                          },
                          {
                            "id": "PAYMENT_RECEIPT",
                            "name": "Desprendible de pago",
                            "quantity": 3
                          },
                          {
                            "id": "WORKING_LETTER",
                            "name": "Carta Laboral",
                            "quantity": 1
                          }
                        ],
                        "generated": [
                          {
                            "id": "CASE1",
                            "name": "Documento pagare"
                          }
                        ]
                      },
                      "metadata": {}
                    }
                  ],
                  "metadata": {}
                },
                {
                  "id": "2",
                  "type": "SERVICIOS",
                  "name": "Contrato Servicios",
                  "conditions": [
                    {
                      "antiquity": {
                        "type": "ANTIQUITY",
                        "min": 0,
                        "max": 90
                      },
                      "installments": {
                        "min": 12,
                        "max": 24
                      },
                      "amount": {
                        "min": 2000000,
                        "max": 6000000
                      },
                      "documents": {
                        "requested": [
                          {
                            "id": "ID_DOC",
                            "name": "Documento de identidad",
                            "quantity": 1
                          },
                          {
                            "id": "PAYMENT_RECEIPT",
                            "name": "Desprendible de pago",
                            "quantity": 3
                          },
                          {
                            "id": "WORKING_LETTER",
                            "name": "Carta Laboral",
                            "quantity": 1
                          }
                        ],
                        "generated": [
                          {
                            "id": "CASE1",
                            "name": "Documento pagare"
                          }
                        ]
                      },
                      "metadata": {}
                    }
                  ],
                  "metadata": {}
                }
              ],
              "metadata": {}
            },
            {
              "id": "PENSION",
              "name": "Perfil pensionado",
              "contracts": [
                {
                  "id": "1",
                  "type": "PENSION",
                  "name": "Contrato pensionado",
                  "conditions": [
                    {
                      "antiquity": {
                        "type": "AGE",
                        "min": 90,
                        "max": 9999
                      },
                      "installments": {
                        "min": 12,
                        "max": 48
                      },
                      "amount": {
                        "min": 2000000,
                        "max": 30000000
                      },
                      "documents": {
                        "requested": [
                          {
                            "id": "ID_DOC",
                            "name": "Documento de identidad",
                            "quantity": 1
                          },
                          {
                            "id": "PENSION_LETTER",
                            "name": "Documento de pensiones",
                            "quantity": 1
                          }
                        ],
                        "generated": [
                          {
                            "id": "CASE1",
                            "name": "Documento pagare"
                          }
                        ]
                      },
                      "metadata": {}
                    }
                  ],
                  "metadata": {}
                }
              ],
              "metadata": {}
            }
          ]
        }
      ]
    },
    {
      "id": "2",
      "name": "PAGADURIA 2",
      "email": "contacto1@pagaduria1.com",
      "status": "INACTIVO",
      "identification": {
        "type": "RUT",
        "document": "1135121-6"
      }
    }
  ];

  var editor = new JSONEditor(container, options, json);

  console.log('json', json);
  console.log('schema', schema);
</script>
</body>
</html>
