<div id="mdlEntity" class="modal modal-fixed-footer mdlEntity">
    <div class="modal-content">
        <h4 id="mdlTitulo"></h4>
        <!--
        <div class="progress loaderAjaxCRUD">
            <div class="indeterminate"></div>
        </div>-->

        <div id="jsoneditor"></div>



    </div>
    <div class="modal-footer">
        <button  class="waves-effect waves-light btn btnGuardar"><i class="material-icons left">done</i>Guardar</button>
        <button class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons left">replay</i>Cerrar</button>
    </div>

</div>
