# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\4ToldFintech\nodejs\MaterializeCSS-NodeJS-Init\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
